{{#if event.imageUrl}}
  <div class="event-img" style="background-image: url('{{event.imageUrl}}')"></div>
{{/if}}

<div class="event-details">
  <div style="margin-bottom: 2rem;">
    <h1 class="event-name-details">{{eventText.name}}</h1>
    <span class="light-text">{{prettyDate event.startTime}}, {{prettyTime event.startTime}}</span>
  </div>

  <p class="light-text description margins">{{eventText.description}}</p>

  {{#if event.cost}}
    <h4 class="dark-text margins">
      {{event.cost}}
      <i class="fa fa-ils"></i>
    </h4>
  {{/if}}

  <div>
    <h1 class="dark-text" style="font-size: 1.8rem; display: inline-block; margin-right: .5rem;">Place: {{placeDetails.name}}</h1>
    {{#if website}}
      {{#if facebook}}
          <a href="http://www.{{removeProtocol website}}"><i style="margin-bottom: 1rem; color: #409a93;" class="fa fa-facebook-square fa-2x"></i></a>
      {{else}}
        <a href="http://www.{{removeProtocol website}}">
          <i style="margin-bottom: 1rem; color: #409a93;" class="fa fa-link fa-2x"></i>
          <span style="font-size: 1.7rem;">website</span>
        </a>
      {{/if}}
    {{/if}}

    {{#if placeContact.phone}}
    <h1 class="dark-text">Phone: {{placeContact.phone}}</h1><br>
    {{else}}
    <h1 class="dark-text">{{phoneMessage}}</h1><br>
    {{/if}}
    {{#if placeContact.email}}
    <h1 class="dark-text" style="margin-bottom: 1rem;">Email: {{placeContact.email}}</h1>
    {{/if}}
    <h3 class="dark-text" style="margin-bottom: 1rem;">
      <i class="fa fa-map-marker map-icon" aria-hidden="true"></i>
      {{placeDetails.address}}
    </h3>
    <div class="map" id="map"></div>
  </div>

  <div class="access-category">

    {{#if event.accessibilityOptions}}
      <h3 class="dark-text margin-access-category">Accessibility</h3>
      {{#each event.accessibilityOptions}}
        <li class="light-text">{{this}}</li>
      {{/each}}
    {{/if}}

    {{#if event.categories}}
      <h3  class="dark-text margin-access-category">Categories</h3>
      {{#each event.categories}}
        <li class="light-text">{{this}}</li>
      {{/each}}
    {{/if}}
  </div>

</div>

<script type="text/javascript">
  function initMap() {
    var uluru = {lat: {{this.lat}}, lng: {{this.lng}} };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>

<script async defer
 src="https://maps.googleapis.com/maps/api/js?key={{this.key}}&callback=initMap">
 </script>
