{{>header}}

<div class="event-img" style="background-image: url('{{event.imageUrl}}')"></div>

<div class="event-details">
  <div class="margins">
    <h1 class="event-name-details">{{event.en.name}}</h1>
    <span class="light-text">{{prettyDate event.startDate}}, {{prettyTime event.startTime}}</span>
  </div>

  <p class="light-text description margins">{{event.en.description}}</p>

  <h4 class="dark-text cost margins">
    {{event.cost}}
    <i class="fa fa-ils"></i>
  </h4>

  <!-- <div class="margins">
    <h3 class="dark-text">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      {{event.place.en.name}}
    </h3>
    <div class="map"></div>
  </div> -->

  <div class="access-category">
    <h3 class="dark-text margin-access-category">Accessibility</h3>
    {{#each event.accessibilityOptions}}
      <li class="light-text">{{this}}</li>
    {{/each}}

    <h3  class="dark-text margin-access-category">Categories</h3>
    {{#each event.categories}}
      <li class="light-text">{{this}}</li>
    {{/each}}
  </div>

</div>
