<div class="event-details">
  <div class="eventDetailsHeader">
    <div>
      {{>header}}
    </div>
    <div class="prevBtn ">
      <a href="{{{back}}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>
  </div>
  <div class="event-details text-center">
    <h1>{{event.name}}</h1>
    <img src="{{options.img}}" alt="event picture">
    <br>
    <h4>{{event.time}}</h4>
    <h4>{{event.where}}</h4>
    <h4>Price: </h4><h4>{{event.cost}}</h4>
    <p class="text-muted">{{event.description}}</p>
  </div>
</div>
