<div class="header">
  {{>header}}
  <a href="{{{back}}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
</div>
<div class="event-details">
  <h1>{{options.name}}</h1>
  <img src="{{options.img}}" alt="event picture">
  <h4>{{options.time}}</h4>
  <h4>Price: </h4><h4>{{options.price}}</h4>
  <p>{{options.info}}</p>
</div>
