{{>header}}
{{>calendar}}
<div id="list-page-content">
  <section id="events-section" class="event-list">
    {{#if events}}
      {{#each events}}
        <a class="event" href='{{../lang}}/events/{{this._id}}'>
          {{#if this.imageUrl}}
            <img class="event__image" src="{{this.imageUrl}}" alt="{{findNamelang ../lang this}}"/>
          {{else}}
            <div class="event__image"></div>
          {{/if}}
          <div class="event__details">
            <h3 class="event__details__name">{{findNamelang ../lang this}}</h3>
            <p class="event__details__location">{{findPlaceLang ../lang this}}</p>
            <p class="event__details__time">{{prettyTime this.startTime}} - {{prettyTime this.endTime}}, {{prettyDate this.startTime}}</p>
            <div class="event__details__categories">
              {{#each this.categories}}
                {{#if (checkCategory this)}}
                  <div class="event__details__categories__category">{{this}}</div>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </a>
      {{/each}}
    {{else}}
      <h1 class="no-events">No upcoming events</h1>
    {{/if}}

  </section>
</div>
