{{>header}}
{{>calendar}}
<div id="list-page-content">
  <section id="events-section" class="events-section">
    {{#if events}}
      {{#each events}}
        <a class="event-link" href='{{../lang}}/events/{{this._id}}'>
          <h3 class="event-name">{{findNamelang ../lang this}}</h3>
          <h4 class="time">{{prettyDate this.startTime}} {{prettyTime this.startTime}} - {{prettyTime this.endTime}}</h4>
          <h5 class="where">{{findPlaceLang ../lang this}}</h5>
        </a>
      {{/each}}
    {{else}}
      <h1 class="no-events">No upcoming events</h1>
    {{/if}}

  </section>
</div>
